body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3, p {
    text-align: center;
    color: #333;
}


h1 {
    margin-top: 20px;
    font-size: 36px;
    color: #4CAF50;
}

/* Container to center and limit width */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Search Form */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input,
.search-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

.search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #45a049;
}


/* Banners Styles */
.banners-section {
    margin-bottom: 50px;
}

.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.banners img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.banners img:hover {
    transform: scale(1.05);
}

/* Recetas Styles */
.recetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.receta {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.receta img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: contain;
}

.receta h3 {
    margin: 10px 0;
    font-size: 22px;
    color: #333;
}

.receta p {
    margin: 5px 0;
    color: #666;
}

.login-link {
    text-align: center;
    margin-top: 30px;
}

.login-link a {
    text-decoration: none;
    font-size: 18px;
    color: #4CAF50;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-link a:hover {
    background-color: #4CAF50;
    color: white;
}