<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Página de Inicio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles.css"> 
</head>
<body>

    <!-- Saludo personalizado -->
    <h1 th:text="|Bienvenido a ${name}!|"></h1>

    <!-- Banners Comerciales -->
    <div>
        <h2>Banners Comerciales</h2>
        <div th:each="banner : ${banners}">
            <a th:href="${banner.enlaceUrl}" target="_blank">
                <img th:src="${banner.imagenUrl}" th:alt="${banner.nombre}" />
            </a>
        </div>
    </div>

    <!-- Recetas Populares y Recientes -->
    <div>
        <h2>Recetas Populares y Recientes</h2>
        <div th:each="receta : ${recetas}">
            <h3 th:text="${receta.nombre}"></h3>
            <p th:text="'Tipo de Cocina: ' + ${receta.tipoCocina}"></p>
            <p th:text="'Dificultad: ' + ${receta.dificultad}"></p>
            <img th:src="${receta.fotografiaUrl}" th:alt="${receta.nombre}" />
        </div>
    </div>

    <!-- Enlace a Login -->
    <div>
        <a th:href="@{/login}">Iniciar Sesión</a>
    </div>

</body>
</html>